@font-face {
    font-family: "SF Pro";
    src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
    font-weight: 400;
}
@font-face {
    font-family: "SF Pro";
    src: url("../fonts/SFPRODISPLAYMEDIUM.OTF");
    font-weight: 500;
}
@font-face {
    font-family: "SF Pro";
    src: url("../fonts/SFPRODISPLAYBOLD.OTF");
    font-weight: 700;
}